<div class="work-order-unit span8 offset2">
	<h1>Teams</h1>

		<ul class="nav nav-tabs nav-stacked" id="list-team-table">
			<% @team.each do |team| %>
				<li><%= link_to team.team_name, team_path(team) %></li>
			<% end %>
		</ul>

		<div class="button-align-right">
			<%= link_to " Create new team ", new_team_path, :class => "flat-butt flat-primary-butt flat-inner-butt flat-primary-inner-butt", :method => :get, :id => "create_team_button", :data => {:toggle => "modal", :target => "#create-team-modal"}, :remote => true %>
		</div>

		<div id="create-team-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-body">
		  </div>
		</div>

</div>
