<div class="span8 offset2">
	<h1>Teams</h1>

		<ul class="nav nav-tabs nav-stacked">
			<% @team.each do |team| %>
				<li><%= link_to team.team_name, team_path(team) %></li>
			<% end %>
		</ul>

		<%= button_to "Create new team", new_team_path, :class => "btn btn-primary", :method => :get %>
</div>
